<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/css/usuario.css">
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Home</h1>
<form action="#" th:action="@{/usuario}" th:object="${usuario}" method="post">
    <p>Nome: <input type="text" th:field="*{nome}" /></p>
    <p><input type="submit" value="Adicionar" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>