<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/css/usuarios.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <title>Lista de Usuários</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Lista de Usuários</h1>
<table>
    <thead>
    <tr>
        <th >Nome</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="usuario : ${usuarios}">
        <td class="nome-usuario" th:text="${usuario.nome}"></td>
        <td>
            <button type="button" class="editar-link">
                <span class="fas fa-edit"></span>
            </button>
            <button type="button" class="deletar-link" onclick="deletarUsuario(this)">
                <span class="fas fa-trash-alt"></span>
            </button>
        </td>
    </tr>
    </tbody>
</table>
<a href="/usuario">Adicionar outro usuário</a>

<script>
function deletarUsuario(button) {
    var nome = button.closest('tr').querySelector('.nome-usuario').textContent;
    console.log("nome: " + nome);
    if (confirm('Tem certeza de que deseja excluir ' + nome + '?')) {
        fetch(`/deletar/${nome}`, {
            method: 'DELETE'
        })
        .then(response => {
            if (response.ok) {
                alert('Usuário ' + nome + ' excluído com sucesso!');
                window.location.href = '/usuarios';
            } else {
                alert('Erro ao excluir o usuário ' + nome);
            }
        })
        .catch(error => {
            console.error('Erro ao excluir o usuário: ' + error);
        });
    }
}
</script>
</body>
</html>
