<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/css/usuarios.css">
    <title>Lista de Usuários</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Lista de Usuários</h1>
<table>
    <thead>
    <tr>
        <th>Nome</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="usuario : ${usuarios}">
        <td th:text="${usuario.nome}"></td>
    </tr>
    </tbody>
</table>
<a href="/usuario">Adicionar outro usuário</a>
</body>
</html>
